.todo-list-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px; /* Limit the width of the container */
  margin: 0 auto; /* Center the container horizontally */
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5em; /* Adjust the font size */
  margin-bottom: 20px; /* Add some space below the heading */
}

.todo-list {
  list-style:disc;
  padding: 0;
}

.todo-list li {
  margin-bottom: 10px; /* Add space between each note */
}
.floating-button{
  align-self: flex-end; /* Align the button to the right */
  margin-top: 10px; /* Add space between the list and the button */
  background-color: var(--color-main); /* Add a background color */
  color: #fff; /* Set text color to white */
  padding: 10px 20px; /* Adjust padding for better appearance */
  border-radius: 50%; /* Make it circular */
  cursor: pointer; /* Change cursor on hover for better UX */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.floating-button:hover {
  background-color: #2980b9; /* Darker color on hover */
}


