
/* navbar */

.nav{
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.nav-links{
  display: flex;
  align-items: center;
}

.nav-link{
  margin: 0 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

/* .user-welcome {
  color: var(--color-main);
  font-weight: bold;
} */
